{% extends 'base_another.html' %}

{% block head %}
<title>Add New Student</title>
{% endblock %}

{% block cssImport %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_student.css') }}">
{% endblock %}


{% block body %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Add New Student</h4>
                </div>
                
                <div class="card-body">
                    <form action="" id="addStudentFrom">
                        <div class="mb-3">
                            <label for="first-name" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="first-name" placeholder="Enter your first name">
                        </div>

                        <div class="mb-3">
                            <label for="last-name" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Enter your last name">
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="name@example.com">
                        </div>

                        <div class="mb-3">
                            <label for="student-id" class="form-label">StudentID</label>
                            <input type="text" class="form-control" id="student-id" placeholder="Student ID">
                        </div>

                        <div class="mb-3">
                            <label for="class" class="form-label">Class</label>
                            <input type="text" class="form-control" id="class" placeholder="Enter the class">
                        </div>

                        <div class="mb-3">
                            <label for="image" class="form-label">Capture Image</label>
                            <!-- <input type="hidden" id="imageData" name="imageData"> -->
                            <input type="text" class="form-control" id="downloadLocation" readonly>
                            <button id="openOverlayBtn" type="button" class="btn btn-primary ml-2 mt-3">Open Image Capture</button>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="overlay" id="imageOverlay">
  <div class="overlay-content">
    <button type="button" class="close-btn btn btn-danger" id="closeOverlayBtn">Close</button>
    <video id="webcam" autoplay></video>
    <button id="captureBtn" type="button" class="btn btn-primary mt-2">Capture Image</button>
    <button id="downloadBtn" type="button" class="btn btn-success mt-2">Download Image</button>
  </div>
</div>
{% endblock %}


{% block script %}
<script src="{{ url_for('static', filename='/js/add_student.js') }}"></script>
{% endblock %}